{
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    "transform-class-properties",
    "add-react-displayname",
	"jsx-control-statements"
  ]
}

