@import '../../../stylesheets/colors';

html {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#react-root {
  height: 100%;
  width: 100%;
  margin: 0;
}
.App {
  height: 100%;
  width: 100%;
  margin: 0;
}

.bck {
  background: url('blurred.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#64c3f7;
}

.App > .container {
  margin-bottom: 30px;
}

.App .verify-email {
  margin-bottom: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  color: $gray-dark;
  border-radius: 0;

  p {
    padding: 19px;
  }

  .btn {
    padding: 0;
  }
}

@-webkit-keyframes blackblur {
  from { text-shadow: 0 0 72px black; color: transparent; }
  to   { text-shadow: 0;              color: black;       }
}

.blurryLoadingText {
   //-webkit-animation: blackblur 2s 0.1s  1 alternate;
   color: transparent;
   text-shadow: 0 0 2px rgba(0,0,0,0.5);
}











//.blur {
//  -webkit-filter: blur(5px) grayscale(50%);
//}
