.sslider {
  //margin-left: 0px;
  //margin-top: 60px;
  margin-bottom: -30px;
  color: #ffffff;
  background-color: #444444;
  //background: url('your-image-url.jpg');
  //height: 20px;
  width: 55px;
  display: block;
  vertical-align: middle;
  text-align: center;
  /* Other styles here */
}
