//
//#sc1 {
//  width: 1170px;
//  margin-right: auto;
//  margin-left: auto;
//  #sc0 {
//    a {
//      color: #b13131;
//      text-decoration: none;
//    }
//    ul {
//      background-color: #e6e6e6;
//      border-top: 5px solid #e6e6e6;
//      border-left: 5px solid #e6e6e6;
//      border-right: 5px solid #e6e6e6;
//      border-bottom: 0px solid #ffffff;
//      list-style: none;
//      margin: 0 0 1.5rem 0;
//      padding: 0;
//    }
//    .navactive {
//      background-color: #ffffff;
//      border-bottom: 5px solid #ffffff;
//      //background-position: bottom center;
//    }
//    li {
//      //background-image: linear-gradient(
//      //                to bottom,
//      //                transparent 50%,
//      //                rgba(162,211,156, 1) 50%,
//      //                rgba(162,211,156,1) 90%,
//      //                rgba(124,197,118,1) 90%
//      //);
//      border-bottom: 5px solid #e6e6e6;
//      background-size: 100% 200%;
//      background-position: top center;
//      color: #666;
//      display: block;
//      text-align: center;
//      text-decoration: none;
//      transition: all .25s ease-in-out;
//      &:hover {
//        border-bottom: 5px solid #aaaaaa;
//        //background-position: bottom center;
//        color: rgba(0, 0, 0, .75);
//      }
//      & a {
//        color: #666;
//        display: block;
//        padding: 1rem 0;
//        transition: all .25s ease-in-out;
//      }
//    }
//    & ul {
//      display: flex;
//      & li {
//        flex: 1 1 100%;
//      }
//    }
//  }
//
//
//
//
//}



$font-size-dropdown : 14pt;
$font-size-applink : 14pt;
$font-size-menu : 17pt;
$bgDefault      : #64c3f7;
$bgLeftMenu      : #0c98e2;
$bgLeftHoverHighlight : #0c98e2;
$bgLeftMenuHoverHighlight : #64c3f7;
$bgHoverHighlight : #0c98e2;
$bgHover : #12bee2;
$bgHighlight    : #ffffff;//#0c98e2;
$colDefault     : #ffffff;
$colorLeft        : #0c98e2;
$colHighlight   : $colorLeft;
$colHover   : #fdfcff;
$colLeftHighlight   : #fdfcff;
$dropDown       : true;

.navbar-default {
  //border-left-width: 2px;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  //min-height: 49px;
  height: 49px;
  padding-top: 3px;
  //font-family: Verdana, Geneva, sans-serif;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-nav.navbar-left {
    z-index: 10001;
    height: 2px;
    position: relative;
    bottom: 100px;
    .dropdown-menu {
      background-color: $bgLeftMenu;
      > li {
        > a {
          color: $colDefault;
          font-size: $font-size-dropdown;
          &:hover,  &:focus {
            color: $colHighlight;
            background-color: $bgLeftMenuHoverHighlight;
          }
        }
        &.divider {
          background-color: $bgLeftMenuHoverHighlight;
        }
      }
    }
    > li {
      border-style: none;
      > a {
        color: $colorLeft;
        font-size: $font-size-applink;
        text-shadow: 1px 1px #0c98e2;
        &:hover,  &:focus {
          color: $colLeftHighlight;
          background-color: $bgHover;
        }
      }
    }
    > li.dropdown {
       border-style: none;
      > a {
        color: $colorLeft;
        font-size: $font-size-dropdown;
        text-shadow: 0 0 #ff0000;
        &:hover,  &:focus {
          color: $colLeftHighlight;
          background-color: $bgHover;
        }
      }
    }
  }
  .hide-nav {
    display: none;
  }
  .navbar-nav {
    > li {
      //border-left-style: solid;
      //border-right-style: solid;
      //border-right-width: 5px;
      border-width: 1px;
      > a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $colDefault;
        font-size: $font-size-menu;
        &:hover, &:focus {
          color: $colHover;
          background-color: $bgHover;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse, .navbar-form {
    //width: 1170px;
    padding-left: 0;
    padding-right: 0;
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}


//.nav-tabs.nav-justified, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus {
//    border-width: 0px !important;
//    border-style: none !important;
//    border: 0px solid $bgDefault !important;
//    border-radius: 0 0 0 0 !important;
//  }

//@media (max-width: 767px) {
//  .navbar-default .navbar-nav .open .dropdown-menu {
//    > li > a {
//      color: $colDefault;
//      &:hover, &:focus {
//        color: $colHighlight;
//      }
//    }
//    > .active {
//      > a, > a:hover, > a:focus {
//        color: $colHighlight;
//        background-color: $bgHighlight; }}}
//}



















//.navbar {
//  border-radius: 0;
//  border-left: none;
//  border-right: none;
//  border-top: none;
//}
//.nav .active {
//  background-color: #444;
//}

