.slider {
  margin-left: '0px';
  background-color: #444444;
  //background: url('your-image-url.jpg');
  height: 70px;
  width: 40px;
  display: block;
  vertical-align: middle;
  text-align: center;
  /* Other styles here */
}
